<head>
  <title>All posts - RazzorDev Blog</title>
</head>
<div class="container max-w-screen-xl mx-auto px-4 md:px-8 flex flex-col gap-4 py-8">
  <h1 class="my-4 font-medium text-3xl">Listing all posts</h1>
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
    <!-- Left Column: Posts -->
    <div class="lg:col-span-2">
      <div class="space-y-8">
        <%= for post <- @posts do %>
          <div class="flex gap-4 rounded-lg dark:border dark:border-white/10 p-4">
            <div class="p-4 flex items-start space-x-6">
              <div class="w-32 h-32 md:w-48 md:h-48 flex-shrink-0">
                <img src="" alt={post.title} class="w-full h-full object-cover rounded-md" />
              </div>

              <div class="flex-1">
                <h2 class="text-2xl font-bold mb-2">
                  {post.title}
                </h2>
                <div class="text-gray-400 text-sm mb-3">
                  by {post.author} • {post.published_at}
                </div>
                <p class="text-gray-300 mb-4 line-clamp-2">
                  {"test"}
                </p>
                <div class="flex">
                  <.link href={~p"/blog/#{post.slug}"}
                    class="bg-orange-500 hover:bg-orange-600 text-white px-4 py-2 rounded-md transition duration-200">
                    Read More
                  </.link>
                </div>
              </div>
            </div>
          </div>
          <% end %>
      </div>
    </div>

    <!-- Right Column: Search & Tags -->
    <div class="flex flex-col gap-6">
      <!-- Search Section -->
      <div
        class="rounded-lg dark:bg-zinc-900/70 shadow dark:shadow-none dark:backdrop-blur dark:border dark:border-white/10">
        <div class="rounded-t-lg px-5 py-1 bg-zinc-100 dark:bg-zinc-800">
          <h2 class="font-bold">Search</h2>
        </div>
        <div class="flex items-center gap-2 p-4">
          <input type="text"
            class="text-sm border border-zinc-200 dark:border-zinc-600 rounded-md w-full dark:bg-zinc-800"
            placeholder="Search for..." />
          <button
            class="border border-zinc-200 dark:border-zinc-600 rounded-md px-4 py-1.5 hover:bg-zinc-50 dark:hover:bg-zinc-800">
            Search
          </button>
        </div>
      </div>

      <!-- Tags Section -->
      <div
        class="rounded-lg dark:bg-zinc-900/70 shadow dark:shadow-none dark:backdrop-blur dark:border dark:border-white/10">
        <div class="rounded-t-lg px-5 py-1 bg-zinc-100 dark:bg-zinc-800">
          <h2 class="font-bold">Tags</h2>
        </div>
        <div class="flex items-center gap-2 p-4">
          <%= for tag <- @tags do %>
            <.link href="#"
              class="bg-gray-700 hover:bg-gray-600 text-gray-300 hover:text-white text-sm px-2 py-1 rounded-md transition duration-200">
              {tag}
            </.link>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>