<div class="container max-w-screen-xl mx-auto px-4 md:px-8 flex flex-col gap-4 py-8">
  <h1 class="my-4 font-heading text-3xl text-dark">Listing all posts</h1>

  <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
    <!-- Left Column: Posts -->
    <div class="lg:col-span-2">
      <div class="space-y-8">
        <%= for post <- @posts do %>
          <div class="flex gap-4 rounded-lg border border-accent p-4 bg-light shadow-md">
            <div class="p-4 flex items-start space-x-6">
              <div class="w-32 h-32 md:w-48 md:h-48 flex-shrink-0">
                <img
                  src=""
                  alt={post.title}
                  class="w-full h-full object-cover rounded-md"
                  loading="lazy"
                />
              </div>

              <div class="flex-1">
                <h2 class="text-xl md:text-2xl font-heading font-bold mb-2 text-dark">
                  {post.title}
                </h2>
                <div class="text-dark text-sm mb-3">
                  by {post.author} • {post.published_at}
                </div>
                <p class="text-dark mb-4 line-clamp-2">
                  {"test"}
                </p>
                <div class="flex">
                  <.link
                    href={~p"/blog/#{post.slug}"}
                    class="bg-accent hover:bg-dark text-light px-4 py-2 rounded-md transition duration-200"
                  >
                    Read More
                  </.link>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    
<!-- Right Column: Search & Tags -->
    <div class="flex flex-col gap-6">
      <!-- Search Section -->
      <div class="rounded-lg bg-light border border-accent shadow-md">
        <div class="rounded-t-lg px-5 py-1 bg-accent border-b border-accent">
          <h2 class="font-heading font-bold text-dark">Search</h2>
        </div>
        <div class="flex items-center gap-2 p-4">
          <input
            type="text"
            class="text-sm border border-accent rounded-md w-full bg-light text-dark p-2"
            placeholder="Search for..."
          />
          <button class="border border-accent rounded-md px-4 py-1.5 bg-light hover:bg-accent text-dark">
            Search
          </button>
        </div>
      </div>
      
<!-- Tags Section -->
      <div class="rounded-lg bg-light border border-accent shadow-md">
        <div class="rounded-t-lg px-5 py-1 bg-accent border-b border-accent">
          <h2 class="font-heading font-bold text-dark">Tags</h2>
        </div>
        <div class="flex flex-wrap items-center gap-2 p-4">
          <%= for tag <- @tags do %>
            <.link
              href="#"
              class="bg-accent hover:bg-dark text-light hover:text-light text-sm px-2 py-1 rounded-md transition duration-200"
            >
              {tag}
            </.link>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
