<.header>
  Post {@post.id}
  <:subtitle>This is a post record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/blog/#{@post}/edit"}>
      <.button>Edit post</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Title">
    {@post.title}
  </:item>
  <:item title="Content">
    {@post.content}
  </:item>
  <:item title="Slug">
    {@post.slug}
  </:item>
  <:item title="Published">
    {@post.published}
  </:item>
  <:item title="Published at">
    {@post.published_at}
  </:item>
</.list>

<.back navigate={~p"/blog"}>Back to posts</.back>
