<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>razzor.dev</title>
  <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body class="bg-black text-white">
  <main>
    <%= @inner_content %>
  </main>
</body>

</html>