@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Custom color palette */
:root {
  --color-light: #F0F4EF;
  --color-dark: #18181B;
  --color-details: #1B9AAA;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: var(--color-light);
  color: var(--color-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}